a.admin {
  color: red !important;
}

ul#main-navigation {
  border-bottom: 1px solid red !important;
}

span.welcome span.username {
  color: red !important;
}

table#waitinglist td {
  padding: 5px;
}

table#waitinglist thead {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}